{% extends 'base.html' %}

{% block content %}
  <div id="content" style="max-width: 400px; margin: 20px auto; padding: 20px; background-color: #f2f5fa; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 10px; color: #2196f3;">
    <h2>Login</h2>
    <form method="post" style="margin-bottom: 20px;">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" style="background-color: #2196f3; color: #fff; padding: 12px 24px; border: none; border-radius: 5px; cursor: pointer; font-size: 16px; font-weight: bold;">Login</button>
    </form>
  </div>
{% endblock %}
